{#include main.html}
    {#title}Edit Menu Admin{/title}
    <form method="post" action="/devices/{device.id}/update">
            {#authenticityToken /}
        <p style="color:#ffab00; font-weight: bold;">Edit Device (Admin Menu):</p>
        <p>Current Device Name:</p>
        <p>{device.deviceName}</p>
        <cds-text-input label="New Device Name" name="deviceName" value="{device.deviceName}"></cds-text-input>
        <button type="submit" class="cds-btn cds-btn-primary">Save</button>
    </form>
{/include}
