{#include main.html}
{#title}Devices{/title}
<cds-button href="/devices/new">New device</cds-button>   
<cds-table>
  <cds-table-head>
    <cds-table-header-row>
      <cds-table-header-cell>Name</cds-table-header-cell>
      <cds-table-header-cell>Status</cds-table-header-cell>
      <cds-table-header-cell>Booked by</cds-table-header-cell>
      <cds-table-header-cell>Pickup time</cds-table-header-cell>
      <cds-table-header-cell></cds-table-header-cell>
    
    </cds-table-header-row>
  </cds-table-head>
  <cds-table-body>
    {#for device in devices}
    <cds-table-row>
      <cds-table-cell>{device.deviceName}</cds-table-cell>
      <cds-table-cell>{device.status}</cds-table-cell>
      <cds-table-cell>{device.bookedName}</cds-table-cell>
      <cds-table-cell>{device.formattedPickupTime}</cds-table-cell>
      <cds-table-cell>                                                                                                                                                                                                                                
        <form method="post" action="/devices/{device.id}/claim">                                                                                                                                                                                     
            {#authenticityToken /}                                                                                                                                                                            
          <button type="submit" class="cds-btn cds-btn-danger">Claim</button>                                                                                                                                                                        
        </form>                                                                                                                                                                                                                                       
      </cds-table-cell> 
      <cds-table-cell>
      <cds-button href="/devices/{device.id}/edit">Edit</cds-button> 
      </cds-table-cell>
      <cds-table-cell>                                                                                                                                                                                                                                
        <form method="post" action="/devices/{device.id}/delete">                                                                                                                                                                                     
            {#authenticityToken /}                                                                                                                                                                            
          <button type="submit" class="cds-btn cds-btn-danger">Delete</button>                                                                                                                                                                        
        </form>                                                                                                                                                                                                                                       
      </cds-table-cell>
    </cds-table-row>
    {/for}
  </cds-table-body>
</cds-table>
{/include}